<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/style.css" />
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/header.ejs") %>
  <main>
    <h2><%= title %></h2>
    <p>Welcome to the outdoor gear inventory management system! Start by viewing all <a href="/categories">categories</a> or all <a href="/items">items</a>.</p>
  </main>
</body>

</html>