<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Items List</h2>
    <ul>
      <% items.forEach(item => { %>
      <li><a href="/items/<%= item.id %>"><%= item.item %></a></li>
      <% }) %>
    </ul>
    <a href="/items/create">Add a new item</a>
  </body>
</html>
