<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/categories/create" method="POST">
      <div>
        <input type="text" name="name" id="name" value="<%= category.name %>" />
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </body>
</html>
